

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
}

.login-container, .dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.menu {
    margin-bottom: 20px;
}

.menu a {
    display: block;
    padding: 10px;
    background-color: darkred;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    background-color: darkred;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
